<% if (data.threads.length == 0) { %>
<div class="no-threads">
	<h2>
		There are currently no <span class="purple"><%= data.baseThread.title %></span> threads.
	</h2>
	<a class="purple-btn new-thread-btn">Create new</a>
</divc>
<% } else { %>
  <div class="thread-container">
    <div class="base-thread">
      <div class="base-thread-heading">
        <img src="<%= data.baseThread.imageUrl %> ">
        <h1><%= data.baseThread.title %></h1>
      </div>
      <div class="base-thread-desc">
        <p><%= data.baseThread.description %> </p>
      </div>
    </div> 
    <div class="table">
      <table>
        <thead>
          <tr>
            <th id="title-th">Title</th>
            <th>Description</th>
            <th>Replies</th>
          </tr>
        </thead>
        <tbody>
          <% data.threads.forEach(thread => { %>
            <tr>
              <td class="clickable-td"><a href="/thread/<%= thread.id %>?page=0"><span class="thread-title"><%= thread.title %> <img src="<%= thread.creator.imageUrl %>" alt=""></span> <span class="thread-date gray">by <span class="red"><%= thread.creator.name %></span>, <%= thread.createdOn.toLocaleString() %>, <span class="red">views</span> <%= thread.views %></span></a></td>
            </tr> 
          </div>
          <% }) %>
        </tbody>
      </table>
      <div class="pagination">
        <% if (data.page === 0) { %>
          <div class="pagination-prev pagination-btn disabled-btn"><a href="/baseThread/<%= data.baseThread.id %>?page=<%= +data.page - 1%>">PREV</a></div>
        <% } else { %>
          <div class="pagination-prev pagination-btn"><a href="/baseThread/<%= data.baseThread.id %>?page=<%= +data.page - 1%>">PREV</a></div>
          <% } %>
        <% if (data.threads.length < 10) { %>
          <div class="pagination-next pagination-btn disabled-btn"><a href="/baseThread/<%= data.baseThread.id %>?page=<%= +data.page + 1  %>">NEXT</a></div>
        <% } else { %>
          <div class="pagination-next pagination-btn"><a href="/baseThread/<%= data.baseThread.id %>?page=<%= +data.page + 1  %>">NEXT</a></div>
          <% } %>
      </div> 
      <a  class="purple-btn create-new-btn">Create new</a>
    </div>
  </div>
  <% } %>
  <% if (data.error) { %>
    <p class="error"><%= data.error %></p>
   <% } %>
  <form class="thread-create" action="/thread/create"  method="post">
    <div class="thread-create-data">
      <label for="title">TITLE</label>
      <input type="text" name="title" />
    </div>
    <div class="thread-create-data">
      <label for="description">DESCRIPTION</label>
      <textarea
        type="text"
        class="tinymce constant-tinymce"
        name="description"
        rows="15"
    ></textarea>
    </div>
    <input type="text" hidden name="baseId" value="<%= data.baseThread.id %>" />
    <input type="text" hidden name="page" value="<%= data.page %>">
    <button type="submit" class="purple-btn">Create</button>
  </form>
