<div class="thread-container">
	<div class="thread-heading">
		<img
			src="https://res.cloudinary.com/detha4545/image/upload/v1665658776/swtor/forum-header_voiv9v.png"
			alt=""
		/>
		<h4><%= data.thread.title %></h2>
	</div>
	<% if (data.error) { %>
	<p class="error"><%= data.error %></p>
	<% } %>

	<div class="thread-post main-thread">
		<div class="thread-post-heading" data-id="<%= data.thread.id %>">
			<img src="<%= data.thread.creator.imageUrl %>" alt="" />
			<div class="thread-post-heading-data gray">
				<div class="heading-info">
					<p class="red"><%= data.thread.creator.name %></p>
					<p><%= data.thread.createdOn.toLocaleString() %></p>
					<% if (data.thread.creator.id === data.user.id) { %>
					<button class="edit-btn">Edit</button>
					<button
						class="save-btn hidden"
						data-id="<%= data.thread.id %>"
						data-endpoint="updateThread"
					>
						Save
					</button>
					<a class="red-btn delete-btn">Delete</a>
					<div class="agree-container hidden">
						<p>Are you sure you want to delete this post?</p>
						<a
							href="/thread/delete/<%= data.thread.id %>?baseId=<%= data.thread.baseThreadId %>"
							class="agree red-btn"
							>Yes</a
						>
					</div>
					<% } %>
				</div>
			</div>
		</div>
		<div class="thread-post-content">
			<div class="description"><%- data.thread.description %></div>
			<textarea disabled class="description tinymce" id="area-1">
				<%= data.thread.description %></textarea
			>
		</div>
		<div class="forum-signature"><%- data.thread.creator.forumSignature %></div>
	</div>
	<div class="thread-info">
		<div class="thread-info-main">
			<div class="thread-info-block">
				<p class="thread-info-block-header">Replies</p>
				<p class="thread-info-block-info"><%= data.posts.length %></p>
			</div>
			<div class="thread-info-block">
				<p class="thread-info-block-header">Created</p>
				<p class="thread-info-block-info">
					<%= data.thread.createdOn.toLocaleString().split(', ')[0] %>
				</p>
			</div>
			<div class="thread-info-block">
				<p class="thread-info-block-header">Last reply</p>
				<p class="thread-info-block-info"><%= data.replyAgo %></p>
			</div>
		</div>
		<div class="extra-info">
			<i class="fas fa-chevron-down extra-info-btn"></i>
			<div class="extra-info-main hidden">
				<h5 class="extra-heading">TOP POSTERS</h5>
				<div class="top-posts">
						<% data.topPosters.forEach(poster => { %>
							<div class="top-poster">
								<img src="<%= poster[0].creator.imageUrl %>" alt="">
								<div class="top-poster-info">
									<p class="top-poster-info-name"><%= poster[0].creator.name %></p>
									<p><%= poster.length %> posts</p>
								</div>
							</div>
						<% }) %>
				</div>
				<h5 class="extra-heading">POPULAR POSTS</h5>
				<div class="popular-posts">
					<% data.popularPosts.forEach(element => { %>
						<div class="popular-post">
							<div class="popular-post-heading">
								<img src="<%= element.creator.imageUrl %>" alt="">
								<div class="popular-post-heading-info">
									<p class="red"><%= element.creator.name %></p>
									<p><%= element.createdOn.toLocaleString().split(', ')[0]%></p>
								</div>
							</div>
							<div class="popular-desc">
								<p><%- element.description  %></p>
							</div>
						</div>
					<% }) %>
					
				</div>
			</div>
		</div>
	</div>
	<div class="thread-posts">
		<% let counter = 2; data.posts.forEach(post => {%>
		<div class="thread-post">
			<div class="thread-post-heading gray" data-id="<%= post._id %>">
				<img src="<%= post.creator.imageUrl %>" alt="" />
				<div class="thread-post-heading-data">
					<div class="heading-info">
						<p class="red"><%= post.creator.name %></p>
						<p><%= post.createdOn.toLocaleString() %></p>
						<% if (post.creator.id === data.user.id) { %>
						<button class="edit-btn">Edit</button>
						<button
							class="save-btn hidden"
							data-id="<%= post._id %>"
							data-endpoint="updatePost"
						>
							Save
						</button>
						<a class="red-btn delete-btn">Delete</a>
						<div class="agree-container hidden">
							<p>Are you sure you want to delete this post?</p>
							<a
								href="/post/delete/<%= post._id %>?threadId=<%= data.thread.id %>"
								class="agree red-btn"
								>Yes</a
							>
						</div>
						<% } %>
					</div>
					<% if (data.user.id !== post.creator.id) { %>
					<div class="vote-container">
						<i class="fas fa-chevron-up vote" data-type="upvote"></i>
						<p id="post-votes"><%= post.votes %></p>
						<i class="fas fa-chevron-down vote" data-type="downvote"></i>
					</div>
					<% } %>
				</div>
			</div>
			<div class="thread-post-content">
				<div class="description"><%- post.description %></div>
				<textarea
					disabled
					class="description tinymce"
					id="area-<%= counter++ %>"
				>
				<%= post.description %></textarea
				>
			</div>
			<div class="forum-signature"><%- post.creator.forumSignature %></div>
		</div>
		<% }) %>
	</div>
	<div class="pagination">
		<% if (page === 0) { %>
		<div class="pagination-prev pagination-btn disabled-btn">
			<a href="/thread/<%= data.thread.id %>?page=<%= +page - 1%>">PREV</a>
		</div>
		<% } else { %>
		<div class="pagination-prev pagination-btn">
			<a href="/thread/<%= data.thread.id %>?page=<%= +page - 1%>">PREV</a>
		</div>
		<% } %> <% if (data.posts.length < 10) { %>
		<div class="pagination-next pagination-btn disabled-btn">
			<a href="/thread/<%= data.thread.id %>?page=<%= +page + 1  %>">NEXT</a>
		</div>
		<% } else { %>
		<div class="pagination-next pagination-btn">
			<a href="/thread/<%= data.thread.id %>?page=<%= +page + 1  %>">NEXT</a>
		</div>
		<% } %>
	</div>
	<% if (data.error) { %>
	<p class="error"><%= data.error %></p>
	<% } %>
	<a class="purple-btn create-new-btn">Create new</a>
	<form class="thread-create" action="/post/create" method="post">
		<div class="thread-create-data">
			<textarea
				type="text"
				name="description"
				class="tinymce constant-tinymce"
				rows="15"
			></textarea>
		</div>
		<input type="text" hidden name="threadId" value="<%= data.thread.id %>" />
		<button type="submit" class="purple-btn">Create</button>
	</form>
	<script src="../../static/js/thread.js"></script>
</div>
