<div class="thread-container">
	<div class="thread-heading">
		<img src="../../static/images/test.jpg" alt="" />
		<h2><%= data.thread.title %></h2>
		<p>on <%= data.thread.createdOn.toLocaleString() %></p>
	</div>
	<div class="thread-post border-gray">
		<div class="thread-post-heading">
			<img src="<%= data.thread.creatorImageUrl %>" alt="" />
			<div class="thread-post-heading-data gray">
				<p class="red"><%= data.thread.creatorName %></p>
				<p><%= data.thread.createdOn.toLocaleString() %></p>
			</div>
		</div>
		<div class="thread-post-content">
			<p><%- data.thread.description %></p>
		</div>
	</div>
	<div class="thread-posts">
		<% data.posts.forEach(post => { %>
		<div class="thread-post">
			<div class="thread-post-heading gray">
				<img src="<%= post.creatorImageUrl %>" alt="" />
				<div class="thread-post-heading-data">
					<p class="red"><%= post.creatorName %></p>
					<p><%= post.createdOn.toLocaleString() %></p>
				</div>
			</div>
			<div class="thread-post-content">
				<p><%= post.description %></p>
			</div>
		</div>
		<% }) %>
	</div>
	<% if (data.error) { %>
	<p class="error"><%= data.error %></p>
	<% } %>
	<a class="purple-btn new-thread-btn">Create new</a>
	<form class="thread-create" action="/post/create" method="post">
		<div class="thread-create-data">
			<textarea type="text" name="description" rows="15"></textarea>
		</div>
		<input type="text" hidden name="threadId" value="<%= data.thread.id %>" />
		<button type="submit" class="purple-btn">Create</button>
	</form>
</div>
