<div class="thread-container">
	<div class="thread-heading">
		<img src="../../static/images/test.jpg" alt="" />
		<h2><%= data.thread.title %></h2>
		<p>on <%= data.thread.createdOn.toLocaleString() %></p>
	</div>
	<div class="thread-post border-gray">
		<div class="thread-post-heading" data-id="<%= data.thread.id %>">
			<img src="<%= data.thread.creator.imageUrl %>" alt="" />
			<div class="thread-post-heading-data gray">
				<div class="heading-info">
					<p class="red"><%= data.thread.creator.name %></p>
					<p><%= data.thread.createdOn.toLocaleString() %></p>
				</div>
			</div>
		</div>
		<div class="thread-post-content">
			<p><%- data.thread.description %></p>
		</div>
	</div>
	<div class="thread-posts">
		<% data.posts.forEach(post => { %>
		<div class="thread-post">
			<div class="thread-post-heading gray" data-id="<%= post._id %>">
				<img src="<%= post.creator.imageUrl %>" alt="" />
				<div class="thread-post-heading-data">
					<div class="heading-info">
						<p class="red"><%= post.creator.name %></p>
						<p><%= post.createdOn.toLocaleString() %></p>
						<% if (post.creator.id === data.user.id) { %>
						<button class="edit-btn">Edit</button>
						<button class="save-btn hidden" data-id="<%= post._id %>">
							Save
						</button>
						<% } %>
					</div>
					<div class="vote-container">
						<i class="fas fa-chevron-up vote" data-type="upvote"></i>
						<p id="post-votes"><%= post.votes %></p>
						<i class="fas fa-chevron-down vote" data-type="downvote"></i>
					</div>
				</div>
			</div>
			<div class="thread-post-content">
				<textarea disabled class="description">
<%= post.description %></textarea
				>
			</div>
		</div>
		<% }) %>
	</div>
	<% if (data.error) { %>
	<p class="error"><%= data.error %></p>
	<% } %>
	<a class="purple-btn new-thread-btn">Create new</a>
	<form class="thread-create" action="/post/create" method="post">
		<div class="thread-create-data">
			<textarea type="text" name="description" rows="15"></textarea>
		</div>
		<input type="text" hidden name="threadId" value="<%= data.thread.id %>" />
		<button type="submit" class="purple-btn">Create</button>
	</form>
</div>
