<% if (user !== undefined) { %>
<div class="hottest">
	<% hottest.forEach(x => { %>
	<div class="hottest-element">
		<a href="/thread/<%= x.id %>"><%= x.title.trim() %></a>
		<p><%= x.createdOn.toLocaleString().split(', ')[0] %></p>
		<p><%= x.views %> views</p>
		<p class="hottest-name"><%= x.creator.name %></p>
	</div>
	<% }) %>
</div>
<% } %>
